/* You can add global styles to this file, and also import other style files */

$primaryColor:      #9F08E0;
$backgroundColor:   #171717;
$fontColorPrimary:  #d2a2ff;
$fontColorSecondary:#C9C9C9;


:export {
    primaryColor: $primaryColor;
    backgroundColor: $backgroundColor;
    fontColorPrimary: $fontColorPrimary;
    fontColorSecondary: $fontColorSecondary;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    background-color: #171717;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


textarea, input, label {
    color: rgb(197, 197, 197) !important;
    font-family: 'Roboto Slab', serif !important;
}


.note {
    font-size: 7pt;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: gray;
}